.filter_select_new > label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #222;
}
.filter_select_new > span {
    font-size: 14px;
    color: #bababa;
    cursor: pointer;
}
.filter_select_new > input {
    position: absolute;
    border: none;
    outline: none;
    cursor: pointer;
}
.filter_select_new > input::placeholder {
    font-size: 14px;
    color: #bababa;
    cursor: pointer;
}
.filter_select_new {
    position: relative;
    width: 300px;
    height: 50px;
}
.filter_select_new > .options {
    display: none;
    position: absolute;
    top: 70px;
    left: -15px;
    width: 200px;
    background-color: #fff;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    box-shadow: 0 8px 30px 0 rgba(165, 189, 213, 0.22);
    border: solid 1px #ededed;
}
.filter_select_new > .active {
    display: block;
}
.filter_select_new > .options > div {
    margin-bottom: 20px;
    margin: 0 0 20px;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #222;
    cursor: pointer;
}
.filter_select_new > .option_scroll {
    height: 150px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
}
.filter_select_new > .options > div:hover {
    color: #0046a6;
}

/* Scrollbar */
.filter_select_new > .option_scroll::-webkit-scrollbar {
    width: 5px;
}
.filter_select_new > .option_scroll::-webkit-scrollbar-track {
    width: 5px;
    background: #ededed;
}
.filter_select_new > .option_scroll::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 2px;
}